{% extends "base.html" %}
{% block base %}

    <style>
    /* Add some padding inside the card container */
    .container {
        padding: 20px 16px;
    }
    </style>


    {% load material_form %}
    <div class="container">
        <div class="card">
            <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                {% if 'username' in form.fields %}
                {% form %}
                {% part form.username prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% part form.password prefix %}<i class="material-icons prefix">lock</i>{% endpart %}
                {% endform %}
                {% else %}
                {% form %}{% endform %}
                {% endif %}

                <div class="action right-align">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


