{% extends "base.html" %}
{% block base %}

    <style>
    /* Add some padding inside the card container */
    .container {
        padding: 20px 16px;
    }
    </style>


    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <div class="container">
        <div class="card">
            <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                {% if 'username' in form.fields %}
                {% bootstrap_form form %}
                {% else %}
                {% bootstrap_form form %}
                {% endif %}
                <div class="action right-align">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


