{% extends "base.html" %}
{% block content %}

<style>
tr:hover {
  background-color: #d3d3d3;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}

/* Add some padding inside the card container */
.container {
    padding: 20px 16px;
}
</style>


{% load material_form %}
<div class="container">
    <div class="card">
        <h6 style="font-weight:bold">Create new config</h6>
        <form action="/cfgs/create/" method="post">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <input type="submit" value="Create">
        </form>
    </div>
</div>

<div class="container">
    <div class="card">
        <h6 style="font-weight:bold">Existing configs</h6>
        <table>
            <tr><td style="font-weight:bold">Name</td><td></td><td></td></tr>
            {% for cfg in cfgs %}
            <tr>
                <td style="width: 200px">{{cfg}}</td>
                <td><a href="/cfgs/{{cfg}}">Edit</a></td>
                <td>
                    <form action="/cfgs/delete/" method="post">{% csrf_token %}
                        <input hidden name="cfg" value="{{cfg}}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}
