{% extends "main.html" %}
{% block content %}

<style>
    tr:hover {
      background-color: #d3d3d3;
    }
    .container {
        padding: 20px 16px;
    }
</style>


{% load material_form %}
<div class="container">
    <div class="card">
        <h6 style="font-weight:bold">Create new config</h6>
        <form action="/cfgs/create" method="post">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <input type="submit" value="Create" class="btn green">
        </form>
    </div>
</div>

<div class="container">
    <div class="card">
        <h6 style="font-weight:bold">Existing configs</h6>
        <table>
            <tr><td style="font-weight:bold">Name</td><td style="font-weight:bold">Actions</td><td></td><td></td></tr>
            {% for cfg in cfgs %}
            <tr>
                <td style="width: 200px">
                    <form id="cfgform{{forloop.counter0}}" style="margin: 0" action="/cfgs/rename" method="post">{% csrf_token %}
                        <input hidden name="cfg" value="{{cfg}}">
                        <input id="cfgname{{forloop.counter0}}" name="cfgname" type="button"
                               class="btn blue" oldvalue={{cfg}} value={{cfg}} onclick="location.href = '/cfgs/{{cfg}}';">
                    <i id="rename{{forloop.counter0}}" type="button" title="Rename" class="material-icons">edit</i>
                    </form>
                </td>
                <td>
                    <form style="margin: 0" action="/cfgs/clone" method="post">{% csrf_token %}
                        <input hidden name="cfg" value="{{cfg}}">
                        <a href="/cfgs/{{cfg}}" class="btn blue">Edit</a>
                    </form>
                </td>
                <td>
                    <form style="margin: 0" action="/cfgs/clone" method="post">{% csrf_token %}
                        <input hidden name="cfg" value="{{cfg}}">
                        <input type="submit" value="Clone" class="btn green">
                    </form>
                </td>
                <td>
                    <form style="margin: 0" action="/cfgs/delete" method="post">{% csrf_token %}
                        <input hidden name="cfg" value="{{cfg}}">
                        <input type="submit" value="Delete" class="btn red">
                    </form>
                </td>
            </tr>
            <script>
                $("#rename{{forloop.counter0}}").click(function (){
                    var cfg = $("#cfgname{{forloop.counter0}}");
                    var type   = cfg.prop('type');
                    cfg.toggleClass("btn blue")
                    if (type == 'button') {
                        cfg.prop('oldvalue', cfg.val());
                        cfg.prop('type', 'text');
                        cfg.off('click');
                        cfg.removeAttr("onclick");
                    } else {
                        if (cfg.prop('oldvalue') != cfg.val()) {
                            $("#cfgform{{forloop.counter0}}").submit();
                        }
                        cfg.prop('type', 'button');
                        cfg.on('click');
                        cfg.attr('onclick',"location.href = '/cfgs/{{cfg}}';");
                    }
                })
            </script>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
