{% extends "main.html" %}
{% block content %}

<style>
    .container {
        padding: 20px 16px;
    }
</style>

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        class="card red"
                 {% else %}  class="card green"
                 {% endif %}>
                <div id="message" {% if message.tags %} class="{{ message.tags }}" {% endif %} style="padding: 10px 5px;">
                    <strong>{{ message|escape }}</strong>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="card">
        <h5 style="font-weight:bold">Instance config</h5>
        <form name="instance_form" action="start" method="POST"
              onsubmit="return (document.forms['instance_form']['cfg'].value.length>0)">{% csrf_token %}
            {% bootstrap_form form %}
            <div class="accordion" id="instance-config">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="settings-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#settings" aria-expanded="true" aria-controls="settings">
                            Settings
                        </button>
                    </h2>
                    <div id="settings" class="accordion-collapse collapse show" aria-labelledby="settings-header" data-bs-parent="#instance-config">
                        <div class="accordion-body">
                            {% bootstrap_form form.settings %}
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="config-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#config" aria-expanded="false" aria-controls="config">
                            Configuration
                        </button>
                    </h2>
                    <div id="config" class="accordion-collapse collapse" aria-labelledby="config-header" data-bs-parent="#instance-config">
                        <div class="accordion-body">
                            {% bootstrap_form form.configuration %}
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="assist-rules-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#assist-rules" aria-expanded="false" aria-controls="assist-rules">
                            AssistRules
                        </button>
                    </h2>
                    <div id="assist-rules" class="accordion-collapse collapse" aria-labelledby="assist-rules-header" data-bs-parent="#instance-config">
                        <div class="accordion-body">
                            {% bootstrap_form form.assistRules %}
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="event-rules-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#event-rules" aria-expanded="false" aria-controls="event-rules">
                            EventRules
                        </button>
                    </h2>
                    <div id="event-rules" class="accordion-collapse collapse" aria-labelledby="event-rules-header" data-bs-parent="#instance-config">
                        <div class="accordion-body">
                            {% bootstrap_form form.eventRules %}
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-success" type="submit">Start</button>
        </form>

    </div>
</div>

<div class="container">
    <div class="card">
        <h5 style="font-weight:bold">Server instances</h5><br>
        <table>
            <tr><td>Instance Name</td><td>Server Name</td><td>Config</td><td>UDP</td><td>TCP</td><td>PID</td><td></td></tr>
            {% for name,executor in executors.items %}
            <tr id="row{{forloop.counter0}}">
                <td><a href="/instances/{{name}}" class="btn btn-primary">{{name}}</a></td>
                <td style="">{{executor.serverName}}</td>
                <td style="">{{executor.config}}</td>
                <td style="">{{executor.udpPort}}</td>
                <td style="">{{executor.tcpPort}}</td>

                <td id="pid{{forloop.counter0}}" style="">
                    {% if executor.is_alive %}
                        {{executor.p.pid}}
                    {% else %}
                        exited with {{executor.retval}}
                    {% endif %}
                </td>
                {% if executor.is_alive %}
                <td>
                    <button id="stop{{forloop.counter0}}" class="btn btn-danger" onclick="stop(this, '{{name}}')">Stop</button>
                </td><td></td>
                {% else %}
                <td>
                    <button id="restart{{forloop.counter0}}" class="btn btn-success" onclick="start(this, '{{name}}')">Start</button>
                </td><td>
                    <button id="delete{{forloop.counter0}}" class="btn btn-danger" onclick="del(this, '{{name}}')">Delete</button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script>
    $('#message').on('click', function(){
        $(this).parent().remove();
    });

    function start(el, name) {
        el.innerHTML  = 'Starting'
        el.disabled = true;
        var delel = $('#delete'+el.id.replace('restart',''))[0];
        delel.disabled = true;
        $.post("/instances/"+name+"/start", function(json) {
            $('td#pid'+el.id.replace('restart','')).html(json['pid']);
            delel.id = el.id.replace('restart','stop');
            delel.innerHTML = 'Stop';
            delel.onclick = function() {stop(el, name)};
            delel.disabled = false;
            el.remove();
        });
    }
    function stop(el, name) {
        el.innerHTML  = 'Stopping'
        el.disabled = true;
        $.post("/instances/"+name+"/stop", function(json) {
            $('td#pid'+el.id.replace('stop','')).html('exited with '+json['retval']);
            el.id = el.id.replace('stop','delete')
            el.innerHTML = 'Delete';
            el.onclick = function() {del(el, name)};
            el.disabled = false;
        });
    }
    function del(el, name) {
        el.disabled = true;
        $.post("/instances/"+name+"/delete", function(json) {
            $('tr#row'+el.id.replace('delete','')).remove();
        });
    }
</script>
{% endblock %}
