{% extends "main.html" %}
{% block content %}

<style>
.container {
    padding: 20px 16px;
}
</style>

<div class="container">
    <div class="card" style="padding: 10px 16px 20px 16px;">
        <h6 style="font-weight:bold">Latest stdout</h6>
        <textarea id="stdout" style="height: 200px;" disabled></textarea>

        <h6 style="font-weight:bold">Latest stderr</h6>
        <textarea id="stderr" style="height: 200px;" disabled></textarea>
    </div>
</div>


<script>
    (function stdout(){
        $.post('{{request.path}}stdout', function(data) {
            $('textarea#stdout').val(data);
            setTimeout(stdout,2000);
        });
    })();

    (function stderr(){
        $.post('{{request.path}}stderr', function(data) {
            $('textarea#stderr').val(data);
            setTimeout(stderr,2000);
        });
    })();
</script>


{% endblock %}
