<div class="card" id="config_card">
    {% load material_form %}
    <h5 style="font-weight:bold">Instance config</h5>
    <form name="instance_form" action="start" method="POST"
        onsubmit="return (document.forms['instance_form']['cfg'].value.length>0)">{% csrf_token %}
        {% form form=form %}{% endform %}
        <ul class="collapsible" data-collapsible="accordion">
            <li class="active">
                <div class="collapsible-header" style="font-weight:bold">Settings</div>
                <div class="collapsible-body">
                    {% form form=form.settings %}{% endform %}
                </div>
            </li>
            <li>
                <div class="collapsible-header" style="font-weight:bold">Configuration</div>
                <div class="collapsible-body">
                    {% form form=form.configuration %}{% endform %}
                </div>
            </li>
            <li>
                <div class="collapsible-header" style="font-weight:bold">AssistRules</div>
                <div class="collapsible-body">
                    {% form form=form.assistRules %}{% endform %}
                </div>
            </li>
            <li>
                <div class="collapsible-header" style="font-weight:bold">EventRules</div>
                <div class="collapsible-body">
                    {% form form=form.eventRules %}{% endform %}
                </div>
            </li>
        </ul>
        </ul>

        <button class="btn green" type="submit" id="create_instance">Create and Start</button>
    </form>
</div>