{% extends "main.html" %}
{% block content %}

<style>
.container {
    padding: 20px 16px;
}
</style>

<div class="container">
    <div class="card" style="padding: 10px 16px 20px 16px;">
        <h6 style="font-weight:bold">Latest stdout | <a href="{{request.path}}stdout">Download full</a>  </h6>
        <textarea id="stdout" style="height: 200px;" disabled></textarea>

        <h6 style="font-weight:bold">Latest stderr | <a href="{{request.path}}stdout">Download full</a> </h6>
        <textarea id="stderr" style="height: 200px;" disabled></textarea>
    </div>
    <div class="card"  style="padding: 10px 16px 20px 16px;">
        <a href="results"><input value="Results" class="btn green"></a>
    </div>
</div>


<script>
    (function stdout(){
        $.post('{{request.path}}stdout', { lines: 10 }).done(function(data) {
            $('textarea#stdout').val(data);
            setTimeout(stdout,2000);
        });
    })();

    (function stderr(){
        $.post('{{request.path}}stderr', { lines: 10 }).done(function(data) {
            $('textarea#stderr').val(data);
            setTimeout(stderr,2000);
        });
    })();
</script>


{% endblock %}
