{% extends "main.html" %}
{% block content %}

<style>
    .container {
        padding: 20px 16px;
    }
</style>

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        class="card red"
                 {% else %}  class="card green"
                 {% endif %}>
                <div id="message" {% if message.tags %} class="{{ message.tags }}" {% endif %} style="padding: 10px 5px;">
                    <strong>{{ message|escape }}</strong>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="card">
        {% load material_form %}
        <h5 style="font-weight:bold">Instance config</h5>
        <form name="instance_form" action="start" method="POST"
              onsubmit="return (document.forms['instance_form']['cfg'].value.length>0)">{% csrf_token %}
            {% form form=form %}{% endform %}
            <ul class="collapsible" data-collapsible="accordion">
                <li class="active">
                    <div class="collapsible-header" style="font-weight:bold">Settings</div>
                    <div class="collapsible-body">
                        {% form form=form.settings %}{% endform %}
                    </div>
                </li>
                <li>
                    <div class="collapsible-header" style="font-weight:bold">Configuration</div>
                    <div class="collapsible-body">
                        {% form form=form.configuration %}{% endform %}
                    </div>
                </li>
                <li>
                    <div class="collapsible-header" style="font-weight:bold">AssistRules</div>
                    <div class="collapsible-body">
                        {% form form=form.assistRules %}{% endform %}
                    </div>
                </li>
                <li>
                    <div class="collapsible-header" style="font-weight:bold">EventRules</div>
                    <div class="collapsible-body">
                        {% form form=form.eventRules %}{% endform %}
                    </div>
                </li>
            </ul>
            </ul>

            <button class="btn green" type="submit">Start</button>
        </form>

    </div>
</div>

<div class="container">
    <div class="card">
        <h5 style="font-weight:bold">Server instances</h5><br>
        <table>
            <tr><td>Instance Name</td><td>Server Name</td><td>Config</td><td>UDP</td><td>TCP</td><td>PID</td><td></td></tr>
            {% for name,executor in executors.items %}
            <tr id="row{{forloop.counter0}}">
                <td><a href="/instances/{{name}}" class="btn blue">{{name}}</a></td>
                <td style="">{{executor.serverName}}</td>
                <td style="">{{executor.config}}</td>
                <td style="">{{executor.udpPort}}</td>
                <td style="">{{executor.tcpPort}}</td>

                <td id="pid{{forloop.counter0}}" style="">
                    {% if executor.is_alive %}
                        {{executor.p.pid}}
                    {% else %}
                        exited with {{executor.retval}}
                    {% endif %}
                </td>
                {% if executor.is_alive %}
                <td>
                    <button id="stop{{forloop.counter0}}" class="btn red" onclick="stop(this, '{{name}}')">Stop</button>
                </td><td></td>
                {% else %}
                <td>
                    <button id="restart{{forloop.counter0}}" class="btn green" onclick="start(this, '{{name}}')">Start</button>
                </td><td>
                    <button id="delete{{forloop.counter0}}" class="btn red" onclick="del(this, '{{name}}')">Delete</button>
                </td><td>
                    <button id="edit{{forloop.counter0}}" class="btn blue" onclick="edit(this, '{{name}}')">Edit</button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script>
    $('#message').on('click', function(){
        $(this).parent().remove();
    });

    function start(el, name) {
        el.innerHTML  = 'Starting'
        el.disabled = true;
        var delel = $('#delete'+el.id.replace('restart',''))[0];
        delel.disabled = true;
        $.post("/instances/"+name+"/start", function(json) {
            $('td#pid'+el.id.replace('restart','')).html(json['pid']);
            delel.id = el.id.replace('restart','stop');
            delel.innerHTML = 'Stop';
            delel.onclick = function() {stop(el, name)};
            delel.disabled = false;
            el.remove();
        });
    }
    function stop(el, name) {
        el.innerHTML  = 'Stopping'
        el.disabled = true;
        $.post("/instances/"+name+"/stop", function(json) {
            $('td#pid'+el.id.replace('stop','')).html('exited with '+json['retval']);
            el.id = el.id.replace('stop','delete')
            el.innerHTML = 'Delete';
            el.onclick = function() {del(el, name)};
            el.disabled = false;
        });
    }
    function del(el, name) {
        el.disabled = true;
        $.post("/instances/"+name+"/delete", function(json) {
            $('tr#row'+el.id.replace('delete','')).remove();
        });
    }
</script>
{% endblock %}
