<html>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        function nospaces(t){
            if(t.value.match(/\s/g)){
            alert('Spaces are not allowed');
            t.value=t.value.replace(/\s/g,'');
        }}

        <!--https://stackoverflow.com/questions/6835835/jquery-simple-polling-example-->
        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            } return "";}

        $.ajaxSetup({
            headers: { "X-CSRFToken": getCookie("csrftoken") }
        });

    </script>

    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}

    <body style="background-color: #f2f2f2;">

    {% if user.is_authenticated %}
    <header>
        <nav style="background: #c21807;">
            <a style="font-size:20px; font-weight: bold; padding: 14px 20px; color: black;" href="/instances">Instances</a>
            <a style="font-size:20px; font-weight: bold; padding: 14px 20px; color: black;" href="/cfgs">Configs</a>
            <a style="font-size:20px; font-weight: bold; padding: 14px 20px; color: black;" href="{% url 'logout' %}">Logout</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
    {% endif %}


    </body>
<html>