{% extends "base.html" %}
{% block base %}

    <header>
        <nav style="background: #c21807;">
            <a style="font-size:20px; font-weight: bold; padding: 14px 20px; color: black;" href="/instances">Instances</a>
            <a style="font-size:20px; font-weight: bold; padding: 14px 20px; color: black;" href="/cfgs">Configs</a>
            <a style="font-size:20px; font-weight: bold; padding: 14px 20px; color: black;" href="{% url 'logout' %}">Logout</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

{% endblock %}